<div class="container my-5">
  <h1 class="text-center mb-4">Dashboard</h1>

  <div class="row mb-4">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card shadow-lg mb-4">
        <div class="card-header bg-success text-white">
          <h4 class="card-title">Estadísticas de Ventas</h4>
        </div>
        <div class="card-body">
          <p class="h2 text-center">150</p>
          <p class="text-muted text-center">Ventas este mes</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card shadow-lg mb-4">
        <div class="card-header bg-info text-white">
          <h4 class="card-title">Usuarios Activos</h4>
        </div>
        <div class="card-body">
          <p class="h2 text-center">45</p>
          <p class="text-muted text-center">Usuarios conectados actualmente</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card shadow-lg mb-4">
        <div class="card-header bg-warning text-white">
          <h4 class="card-title">Nuevos Registros</h4>
        </div>
        <div class="card-body">
          <p class="h2 text-center">23</p>
          <p class="text-muted text-center">Nuevos registros este mes</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card shadow-lg mb-4">
        <div class="card-header bg-danger text-white">
          <h4 class="card-title">Alertas Pendientes</h4>
        </div>
        <div class="card-body">
          <p class="h2 text-center">5</p>
          <p class="text-muted text-center">Alertas por revisar</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12 ">
      <div class="card shadow-lg mb-4">
        <div class="card-header bg-primary text-white">
          <h2 class="card-title">Sección de Productos</h2>
        </div>
        <div class="card-body">
          <!-- 'app-defer' es el componente encargado de mostrar los productos de forma diferida -->
          @defer(on timer(6000ms)) {
          <app-defer></app-defer>
          }
          @placeholder {
          <!-- Este spinner se muestra temporalmente hasta que se cargue el componente -->
          <div class="spinner-container">
            <div class="spinner-border text-primary" role="status">
            </div>
            <p class="alert">Mostrando productos en breve...</p>
          </div>
          }
          @error {
          <!-- Este mensaje se muestra si ocurre un error al cargar el componente -->
          <p>No se pudieron cargar los productos. Intenta de nuevo más tarde.</p>
          }
        </div>
      </div>
    </div>
  </div>
</div>
